<% case @profile.step when 1 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :cause,
          label: "A quelle cause donneriez-vous (plus) si vous le pouviez ?",
          collection: Profile.causes, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 2 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :own_emotion,
          label: "Que ressentiriez-vous en donnant plus ?",
          collection: Profile.own_emotions, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 3 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :other_emotion,
          label: "Que verriez-vous dans le regard des autres sur vous si vous donniez plus ?",
          collection: Profile.other_emotions, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 4 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :preferred_mean,
          label: "Que préféreriez-vous faire pour donner plus ?",
          collection: Profile.preferred_means, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 5 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.label "Si nous vous faisions économiser plusieurs centaines d'euros par an,
     vous en feriez quoi ?" %>
    <p></p>
    <%= d.input_field :money_wish, style: "width: 70%;", input_html: { maxlength: 200 } %>
    <p></p>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 6 %>
  <div class="perso" display="none">A des fins statistiques, quelques compléments:</div>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :age_bracket,
          label: "Dans quelle tranche d'âge êtes-vous (même si vous faites plus jeune que votre âge!) ?",
          collection: Profile.age_brackets, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 7 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :po_code,
          label: "Pour vous localiser (à peu près), quel est votre code postal ?" %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 8 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :main_mobility_mode,
      label: "Quel est votre mode de transport habituel ?",
      collection: Profile.main_mobility_modes, as: :radio_buttons %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 9 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :motor_vehicle_owner,
      label: "Etes-vous propriétaire d'un véhicule ? (cochez si oui)", as: :boolean %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 10 %>
  <div class="perso" display="none">
    <p>Enfin, pour vous faire économiser plusieurs centaines d'euros par an,</p>
    <p>il faudra que nous puissions vous contacter personnellement</p>
  </div>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :full_name, label: "Comment vous appelez-vous ?",
      placeholder: "Jean Poiret" %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 11 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :mobile_number, label: "A quel numéro de portable peut-on vous joindre ?",
      type: "tel", size: 10 %>
    <%= d.button :submit, "Confirmer et passer à la question suivante" %>
  <% end %>
<% when 12 %>
  <%= simple_form_for @profile do |d| %>
    <%= d.input :email, label: "A quel email pouvons-nous vous joindre ?",
      placeholder: "jean@orange.fr" %>
  <%= d.button :submit, "Confirmer et terminer" %>
  <% end %>
<% end %>
